<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">
    <title>Dashboard | eLaw</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link href="{{baseURL}}css/main.css" rel="stylesheet"></head>
    <link rel="stylesheet" type="text/css" href="{{baseURL}}css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">

    {{> header}}

    <div class="app-main">

        {{> sidebar}}

        <div class="app-main__outer">
            <div class="app-main__inner">

                <!-- Page Title -->
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <i class="fas fa-sticky-note fa-2x mr-3"></i>
                            <div>
                                Add Note
                            </div>
                        </div>
                    </div>
                </div> <!-- End Page Title -->

                {{#if currentCase}}
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <h5 class="card-title">Make Note</h5>
                            <form class="" id="form-test" enctype="multipart/form-data" multiple method="POST" action="{{baseURL}}notes/addnote">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="exampleEmail11" class="">Title</label>
                                            <input name="noteTitle" id="note-title" placeholder="" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="exampleEmail11" class="">Detail</label>
                                            <textarea class="form-control" id="note-detail" name="noteDetail"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="exampleEmail11" class="">Attach Documents</label>
                                            <div>
                                                <button class="btn btn-primary" onclick="makeNewChooseFileField();return false">+</button>
                                                <div id="choose-files-div" style="padding: 10px 2px">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="position-relative row form-check">
                                    <div class="col-sm-10 offset-sm-2">
                                        <input type="submit" value="Save" class="mt-2 btn btn-primary float-right">
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                {{else}}
                    Please select a case to work with!
                {{/if}}

                <!-- Footer -->
                <div class="app-wrapper-footer">
                    <div class="app-footer">
                        <div class="app-footer__inner">
                            <div class="app-footer-right">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link">
                                            Footer Link 1
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link">
                                            Footer Link 2
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{{> footer}}
<script>
    let fileNumber = 0
    function makeNewChooseFileField() {
        fileNumber += 1
        $('#choose-files-div').append(`
        <div style="padding: 5px 0">
            <input type="file" name="file_${fileNumber}" id="file-${fileNumber}">
        </div>
    `)
    }
</script>